@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>T4 Generated EF Core + MVC App</h1>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Welcome to AutoEcMvc</h2>
        <p>
            AutoEcMvc is a sample application that demonstrates how to use T4 in conjunction with the EF Core + MVC demo app. The goal of this project is to produce identical functionality as the AspNetCore.Docs app, but using T4 code generation to do all the work of defining models, controllers and views.
        </p>
    </div>
    <div class="col-md-6">
        <h2>Play with it live</h2>
        <p>You can explore the application live at</p>
        <p><a class="btn btn-default" href="https://autoecmvc.luddites.me">See it live &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Branch, build, tinker</h2>
        <p>You play with the code here</p>
        <p><a class="btn btn-default" href="https://github.com/crfroehlich/AutoEcMvc">See the wiki &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>See the original tutorials</h2>
        <p>You can build the original application by following the steps in a series of tutorials provided by Microsoft: "Get started with EF Core in an ASP.NET MVC web app"</p>
        <p><a class="btn btn-default" href="https://docs.asp.net/en/latest/data/ef-mvc/intro.html">See the tutorial &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Get the original</h2>
        <p>You can download the original, completed project from AspNetCore.Docs available on GitHub.</p>
        <p><a class="btn btn-default" href="https://github.com/aspnet/AspNetCore.Docs/tree/master/aspnetcore/data/ef-mvc/intro/samples/cu-final">See project source code &raquo;</a></p>
    </div>
</div>